<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [19]:
# Enter Student names here:
student_names = ["Amelia","Jack","Ryan","Ivan","Bill","Serana","Jaden","Jerry","Tom","Mary","Nancy","Irene"]

---

### 1) What are the types of the following variables?

In [20]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [21]:
# a: integer
# b: float
# c: list 
# d: dictionary
# e: tuple
# f: dictionary 
# g: boolean 
# h: boolean
# i: string

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [26]:
# mutable objects can be modified like lists and immutable objects can't be modified like tuple.

---

### 3) Print the `student_names` list.

In [23]:
# Print the list 
print(student_names)

['Amelia', 'Jack', 'Ryan', 'Ivan', 'Bill', 'Serana', 'Jaden', 'Jerry', 'Tom', 'Mary', 'Nancy', 'Irene']

---

### 4) Print the names of the first and last students on the list.

In [24]:
# print the first and last students on the list 
print(student_names[0])
print(student_names[-1])

Amelia
Irene

---

### 5) Print the first five names in the `student_names` list.

In [27]:
# Print the first five names in the student_names list 
print(student_names[0:5])

['Amelia', 'Jack', 'Ryan', 'Ivan', 'Bill']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [41]:
# Combine the 9th and 10th names 
str=student_names[9]+' '+ student_names[10]
print(str)

Mary Nancy

---

### 7) Append an animal to the list of animals.

In [46]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [47]:
animals.append('cat')

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'cat']

---

### 8) Print the length of the `animals` list.

In [44]:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [48]:
#get the length of the 5th animal 
a=len(animals[4])

#get the length of the 2nd animal 
b=len(animals[1])

#Divide the length of the fifth animal by the second.
a/b

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [49]:
float(a/b)

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [56]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [59]:
#method 1: using extend()
animals.extend(numbers)

#Method 2: add two lists
animals_numbers=animals+numbers

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [62]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [63]:
names[2]="Amelia"
print(names)

['doug', 'billy', 'Amelia', 'kian', 'sam']

---

### 13) Sort the following list.

In [88]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [87]:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [89]:
if mix[2]>mix[3]:
    print('True')

else:
    print('False')

True

---

### 15) Find the index of `'a'` in the list.

In [83]:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [85]:
mix.reverse()

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [23]:
a=mix[-1]
mix.remove(a)

---

### 18) Count the number of times `0` appears in the following list.

In [65]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [66]:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [68]:
zip_code={'sunset':94122,'presidio':94129,'soma':94105,'marina':94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [73]:
soma_zip=zip_code['soma']
print(soma_zip)

94105

---

### 21) Get the keys out of the dictionary.

In [70]:
for key in zip_code:
    print(key)

sunset
presidio
soma
marina

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [71]:
for x,y in zip_code.items():
    tuple=(x, y)
    print(tuple)

('sunset', 94122)
('presidio', 94129)
('soma', 94105)
('marina', 94123)

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [74]:
zip_code['Castro']=94114
print(zip_code)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'Castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [76]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [77]:
zip_code.update(small)
print(zip_code)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'Castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [78]:
a=zip_code.pop('sunset')
print(a)

94122

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [79]:
if 'dogpatch' in zip_code:
    print('Yes, it is in the dictionary')

Yes, it is in the dictionary