<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">


# Telecomm EDA Challenge Lab

_Author: Alex Combs (NYC) _

---

Let's do some Exploratory Data Analysis (EDA)! As a data scientist, you often may find yourself given a data set you've never seen before, and asked to do a rapid analysis. This is today's goal.

# Prompt

You work for a telecommunications company. The company has been storing metadata about customer phone usage, as part of the regular course of business. Currently, this data is sitting in an unsecured database. The company doesn't want to pay to increase their database security, because they don't think there's really anything to be learned from the metadata.

They are under pressure from "right to privacy" organizations to beef up the database security. These organizations argue that you can learn a lot about a person from their cell phone metadata.

The telecom company wants to understand if this is true, and they want your help. They will give you one person's metadata for 2014 and want to see what you can learn from it.

Working in teams, create a report revealing everything you can about the person. Prepare a presentation, with slides, showcasing your findings.


# The Data

The [person's metadata](./datasets/metadata.csv) has the following fields:

| Field Name          | Description
| ---                 | ---
| **Cell Cgi**        | cell phone tower identifier
| **Cell Tower**      | cell phone tower location
| **Comm Identifier** |	de-identified recipient of communication
| **Comm Timedate String** | time of communication
| **Comm Type	Id**  | type of communication
| **Latitude**        | latitude of communication
| **Longitude**       | longitude of communication

# Hints

This is totally open-ended! If you're totally stumped -- and only if stumped -- should you look below for prompts. As a starting point, given that you have geo-locations, consider investigating ways to display this type of information (i.e. mapping functionality).

<font color='white'>
Well for starters, he's in Australia!

Ideas for things to look into:
- where does he work?
- where does he live?
- who does he contact most often?
- what hours does he work?
- did he move?
- did he go on holiday?  If so, where did he go?
- did he get a new phone?

Challenges:
- how does he get to work?
- where does his family live?
- if he went on holiday, can you find which flights he took?
- can you guess who some of his contacts are, based on the frequency, location, time and mode (phone/text) of communications?


If you're stuck on how to map the data, you can try "basemap" or "gmplot", or anything else you find online.
</font>

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

metadata_csv = './datasets/metadata.csv'

df = pd.read_csv(metadata_csv, encoding='latin-1')

In [4]:
df.head()

,Cell Cgi,Cell Tower Location,Comm Identifier,Comm Timedate String,Comm Type,Latitude,Longitude
0,50501015388B9,REDFERN TE,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 9:40,Phone,-33.892933,151.202296
1,50501015388B9,REDFERN TE,62157ccf2910019ffd915b11fa037243b75c1624,4/1/14 9:42,Phone,-33.892933,151.202296
2,505010153111F,HAYMARKET #,c8f92bd0f4e6fb45ed7fce96fc831b283db2b642,4/1/14 13:13,Phone,-33.880329,151.205690
3,505010153111F,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 13:13,Phone,-33.880329,151.205690
4,5.05E+106,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 17:27,Phone,-33.880329,151.205690

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10476 entries, 0 to 10475
Data columns (total 7 columns):
Cell Cgi                10476 non-null object
Cell Tower Location     10476 non-null object
Comm Identifier         1374 non-null object
Comm Timedate String    10476 non-null object
Comm Type               10476 non-null object
Latitude                10476 non-null float64
Longitude               10476 non-null float64
dtypes: float64(2), object(5)
memory usage: 573.0+ KB

In [6]:
df_col = ['cgi', 'tower', 'identifier', 'timedate', 'type', 'latitude', 'longitude'] 

# Replace during file reading (disables the header from the file).
df = pd.read_csv('./datasets/metadata.csv', header=0, names=df_col)

In [7]:
df.head()

,cgi,tower,identifier,timedate,type,latitude,longitude
0,50501015388B9,REDFERN TE,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 9:40,Phone,-33.892933,151.202296
1,50501015388B9,REDFERN TE,62157ccf2910019ffd915b11fa037243b75c1624,4/1/14 9:42,Phone,-33.892933,151.202296
2,505010153111F,HAYMARKET #,c8f92bd0f4e6fb45ed7fce96fc831b283db2b642,4/1/14 13:13,Phone,-33.880329,151.205690
3,505010153111F,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 13:13,Phone,-33.880329,151.205690
4,5.05E+106,HAYMARKET #,f1a6836c0b7a3415a19a90fdd6f0ae18484d6d1e,4/1/14 17:27,Phone,-33.880329,151.205690

In [8]:
df['tower'].value_counts()

# Listing the most common Tower locations would give us an indication of the most frequented places for the client.
# For example, one could assume the top 3 belong to his home address, his office, and maybe his partner's house, or something
# related to a hobby, like a gym. 
# Similarly, taking a look at the least frequented places, one could assume those were made during a holiday.

BALGOWLAH HAYES ST                          4301
CHIPPENDALE                                 1084
SUNDERLAND ST                                723
REDFERN TE                                   712
HAYMARKET #                                  563
BRICKWORKS                                   501
HARBORD 22 WAINE ST                          465
FAIRLIGHT 137 SYDNEY RD                      454
MANLY #                                      231
NEW TOWN                                     197
CHINATOWN                                    161
BEECHWORTH                                   112
BALGOWLAH VILLAGE SHOPPING CENTRE IBC        106
MANLY SOUTH STEYNE                            92
BROADWAY OTC                                  85
MASCOT INTERNATIONAL AIRPORT TERMINAL T1      65
71 MACQUARIE ST                               49
SURRY HILLS 418A ELIZABETH ST                 45
MANLY NTH STEYNE                              40
MASCOT M5 MOTORWAY EMERGENCY STAIRS           33
BALGOWLAH TE                                  30
BENALLA EAST                                  29
NEUTRAL BAY MILITARYRD                        29
SURRY HILLS                                   22
SYDNEY DOMESTIC TERMINAL T2 - VIRGIN          22
SYDNEY 505 GEORGE ST                          22
SPIT BRIDGE                                   20
THOONA                                        20
SEAFORTH                                      19
HOBART AIRPORT                                17
                                            ...
LENEVA; WODONGA TIP OFF BEACHWORTH RD          7
DARLINGHURST                                   6
NORTH SYDNEY 54 MCLAREN                        6
CREMORNE JUNCTION; GERARD ST                   6
AIRPORT LINK                                   5
ZETLAND 757 ELIZABETH ST                       5
SYDNEY 131 YORK ST                             5
POLICE HEADQUARTERS                            4
LUTANA                                         4
MAQUARIE ST                                    4
SYDNEY 450 GEORGE ST                           4
BEROWRA WINDY BANKS INTERCHANGE                4
COWAN 1051 PACIFIC HWY                         4
SYDNEY 2 CASTLEREAGH STREET                    3
MOUNT RUMNEY                                   3
ROSEBERY DUNNING AVE                           2
SYDNEY INTERNATIONAL AIRPORT RAILWAY STN       2
COWAN LOT 1                                    2
WAHROONGA #                                    2
MASCOT 201 COWARD ST                           1
ASCOT VALE SOUTH                               1
CARLTON COLLEGE SQ                             1
NEWTOWN TE                                     1
DAVID JONES                                    1
GRAND CHANCELLOR 1800                          1
REDFERN; 495 CLEVELAND ST                      1
EDGECLIFF EXCHANGE (PO)                        1
MELB AIRPORT TERM                              1
DALLEY2 #                                      1
BROOKLYN PACIFIC HWY                           1
Name: tower, Length: 71, dtype: int64

In [9]:
df.loc[(df['tower'] == 'LENEVA; WODONGA TIP OFF BEACHWORTH RD')]

# With reference to the holiday factor, mapping the coordinates in "LENEVA; WODONGA TIP OFF BEACHWORTH RD", indicates
# that the client was at Victoria, Australia, while the most frequented places take place in New South Wales.

,cgi,tower,identifier,timedate,type,latitude,longitude
10000,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/27/15 10:03,Internet,-36.16793,146.88306
10001,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/27/15 10:03,Internet,-36.16793,146.88306
10002,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,e925cff3596db298e7f5d7cd31306e790b7fe7be,3/27/15 10:03,Phone,-36.16793,146.88306
10164,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/29/15 14:22,Internet,-36.16793,146.88306
10165,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/29/15 14:22,Internet,-36.16793,146.88306
10166,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/29/15 14:23,Internet,-36.16793,146.88306
10167,5050115504CB1,LENEVA; WODONGA TIP OFF BEACHWORTH RD,NaN,3/29/15 14:23,Internet,-36.16793,146.88306

In [10]:
df.loc[(df['tower'] == 'CHIPPENDALE')]

,cgi,tower,identifier,timedate,type,latitude,longitude
5,5050101532B23,CHIPPENDALE,6bbc17070aa91e2dab7909b96c6eecbd6109ba56,4/1/14 17:36,Phone,-33.884171,151.20235
6,5050101536E5E,CHIPPENDALE,6bbc17070aa91e2dab7909b96c6eecbd6109ba56,4/1/14 17:40,Phone,-33.884171,151.20235
13,5050101537A4A,CHIPPENDALE,91aba4a11359ff3af7902428d20cfa7e676c36e7,4/4/14 9:47,Phone,-33.884171,151.20235
17,5050101536E5E,CHIPPENDALE,91aba4a11359ff3af7902428d20cfa7e676c36e7,4/4/14 18:10,Phone,-33.884171,151.20235
42,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:35,SMS,-33.884171,151.20235
43,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:36,SMS,-33.884171,151.20235
44,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:36,SMS,-33.884171,151.20235
45,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:43,SMS,-33.884171,151.20235
46,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:44,SMS,-33.884171,151.20235
47,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:46,SMS,-33.884171,151.20235
48,50501015334B6,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/10/14 21:46,SMS,-33.884171,151.20235
109,5050101532B23,CHIPPENDALE,a3dfe2f2e41135cee91149d5d5ffb323b30a6354,4/24/14 0:51,Phone,-33.884171,151.20235
110,5050101536E5F,CHIPPENDALE,bc0b01860486b0f0a240ce8419d3d7553fe404ab,4/24/14 1:40,SMS,-33.884171,151.20235
111,5050101536E5F,CHIPPENDALE,bc0b01860486b0f0a240ce8419d3d7553fe404ab,4/24/14 1:41,SMS,-33.884171,151.20235
115,5050101532B25,CHIPPENDALE,7f777edca3555fc1859fa24bddab1ed9dc5936d7,4/24/14 15:02,Phone,-33.884171,151.20235
117,5050101538F8F,CHIPPENDALE,bc0b01860486b0f0a240ce8419d3d7553fe404ab,4/24/14 22:09,SMS,-33.884171,151.20235
147,5050101537A4A,CHIPPENDALE,70e1f163d854d4e9b63e9a3f4056ced467567d85,4/27/14 11:45,Phone,-33.884171,151.20235
148,5050101532B23,CHIPPENDALE,a3dfe2f2e41135cee91149d5d5ffb323b30a6354,4/28/14 16:09,SMS,-33.884171,151.20235
184,5050101532B25,CHIPPENDALE,78bda7c1148bf47171a300ece6339c3f92e17a8a,5/6/14 9:52,Phone,-33.884171,151.20235
185,5050101532B23,CHIPPENDALE,6bbc17070aa91e2dab7909b96c6eecbd6109ba56,5/6/14 18:10,Phone,-33.884171,151.20235
193,5050101532B23,CHIPPENDALE,12e3d1b0c95aa32b6890c4455918dfc10e09fb51,5/7/14 17:52,Phone,-33.884171,151.20235
194,5050101532B23,CHIPPENDALE,bc0b01860486b0f0a240ce8419d3d7553fe404ab,5/7/14 17:52,SMS,-33.884171,151.20235
195,5050101532B21,CHIPPENDALE,12e3d1b0c95aa32b6890c4455918dfc10e09fb51,5/7/14 17:55,Phone,-33.884171,151.20235
196,5050101532B22,CHIPPENDALE,bc0b01860486b0f0a240ce8419d3d7553fe404ab,5/7/14 18:01,SMS,-33.884171,151.20235
197,5050101532B22,CHIPPENDALE,bc0b01860486b0f0a240ce8419d3d7553fe404ab,5/7/14 18:01,SMS,-33.884171,151.20235
224,5050101536E5E,CHIPPENDALE,c8f92bd0f4e6fb45ed7fce96fc831b283db2b642,5/12/14 17:31,Phone,-33.884171,151.20235
227,5050101532B21,CHIPPENDALE,91aba4a11359ff3af7902428d20cfa7e676c36e7,5/13/14 11:38,Phone,-33.884171,151.20235
235,5050101532B21,CHIPPENDALE,12e3d1b0c95aa32b6890c4455918dfc10e09fb51,5/14/14 19:09,Phone,-33.884171,151.20235
236,5050101532B23,CHIPPENDALE,6bbc17070aa91e2dab7909b96c6eecbd6109ba56,5/14/14 19:09,Phone,-33.884171,151.20235
237,5050101532B22,CHIPPENDALE,b10d076fa3354b695ffa1e5f0ec5178d792fea95,5/14/14 19:18,SMS,-33.884171,151.20235
...,...,...,...,...,...,...,...
10297,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:20,Internet,-33.884171,151.20235
10298,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:20,Internet,-33.884171,151.20235
10299,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:20,Internet,-33.884171,151.20235
10301,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:21,Internet,-33.884171,151.20235
10302,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:21,Internet,-33.884171,151.20235
10303,5050101532B22,CHIPPENDALE,dba0dabbd6fc1c2ec9c45bde115473124ed318f2,3/31/15 17:21,Phone,-33.884171,151.20235
10304,5050101532B25,CHIPPENDALE,dba0dabbd6fc1c2ec9c45bde115473124ed318f2,3/31/15 17:21,Phone,-33.884171,151.20235
10305,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:31,Internet,-33.884171,151.20235
10306,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:32,Internet,-33.884171,151.20235
10307,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:34,Internet,-33.884171,151.20235
10308,5050101532B22,CHIPPENDALE,940f140cc66e34363d81ec5d0c8d9c05c72d6887,3/31/15 17:36,Phone,-33.884171,151.20235
10309,5050101532B23,CHIPPENDALE,NaN,3/31/15 17:49,Internet,-33.884171,151.20235
10396,5050101532B23,CHIPPENDALE,NaN,4/1/15 9:54,Internet,-33.884171,151.20235
10397,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:05,Internet,-33.884171,151.20235
10398,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:05,Internet,-33.884171,151.20235
10399,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:06,Internet,-33.884171,151.20235
10400,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:06,Internet,-33.884171,151.20235
10401,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:06,Internet,-33.884171,151.20235
10402,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:06,Internet,-33.884171,151.20235
10403,5050101532B26,CHIPPENDALE,6bbc17070aa91e2dab7909b96c6eecbd6109ba56,4/1/15 10:06,Phone,-33.884171,151.20235
10404,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:11,Internet,-33.884171,151.20235
10405,5050101532B23,CHIPPENDALE,NaN,4/1/15 10:11,Internet,-33.884171,151.20235
10412,5050101532B23,CHIPPENDALE,NaN,4/1/15 15:52,Internet,-33.884171,151.20235
10415,5050101532B23,CHIPPENDALE,NaN,4/1/15 17:18,Internet,-33.884171,151.20235
10416,5050101532B23,CHIPPENDALE,NaN,4/1/15 17:18,Internet,-33.884171,151.20235
10418,5050101532B26,CHIPPENDALE,12e3d1b0c95aa32b6890c4455918dfc10e09fb51,4/1/15 17:18,Phone,-33.884171,151.20235
10419,5050101532B23,CHIPPENDALE,NaN,4/1/15 17:22,Internet,-33.884171,151.20235
10420,5050101532B23,CHIPPENDALE,NaN,4/1/15 17:22,Internet,-33.884171,151.20235
10422,5050101532B23,CHIPPENDALE,NaN,4/1/15 17:29,Internet,-33.884171,151.20235
10423,5050101532B23,CHIPPENDALE,NaN,4/1/15 17:29,Internet,-33.884171,151.20235

In [11]:
df.loc[(df['tower'] == 'BALGOWLAH HAYES ST')]

,cgi,tower,identifier,timedate,type,latitude,longitude
715,505012056EF02,BALGOWLAH HAYES ST,NaN,9/24/14 17:17,Internet,-33.78815,151.26654
716,505012056EF02,BALGOWLAH HAYES ST,NaN,9/24/14 19:08,Internet,-33.78815,151.26654
717,505012056EF02,BALGOWLAH HAYES ST,NaN,9/24/14 19:08,Internet,-33.78815,151.26654
718,505012056EF02,BALGOWLAH HAYES ST,NaN,9/24/14 19:09,Internet,-33.78815,151.26654
719,505012056EF02,BALGOWLAH HAYES ST,NaN,9/24/14 19:10,Internet,-33.78815,151.26654
720,505012056EF02,BALGOWLAH HAYES ST,NaN,9/24/14 19:10,Internet,-33.78815,151.26654
789,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 10:34,Internet,-33.78815,151.26654
790,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 13:37,Internet,-33.78815,151.26654
793,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 15:20,Internet,-33.78815,151.26654
799,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 15:26,Internet,-33.78815,151.26654
813,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 19:38,Internet,-33.78815,151.26654
814,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 19:38,Internet,-33.78815,151.26654
815,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 19:38,Internet,-33.78815,151.26654
816,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 22:36,Internet,-33.78815,151.26654
817,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 22:36,Internet,-33.78815,151.26654
818,505012056EF02,BALGOWLAH HAYES ST,NaN,9/27/14 22:37,Internet,-33.78815,151.26654
819,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 2:59,Internet,-33.78815,151.26654
820,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 7:29,Internet,-33.78815,151.26654
821,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 7:55,Internet,-33.78815,151.26654
822,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 7:55,Internet,-33.78815,151.26654
823,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 7:55,Internet,-33.78815,151.26654
825,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 8:01,Internet,-33.78815,151.26654
826,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 8:02,Internet,-33.78815,151.26654
827,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 8:02,Internet,-33.78815,151.26654
828,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 8:03,Internet,-33.78815,151.26654
831,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 8:23,Internet,-33.78815,151.26654
832,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 11:27,Internet,-33.78815,151.26654
833,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 11:27,Internet,-33.78815,151.26654
834,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 11:28,Internet,-33.78815,151.26654
835,505012056EF02,BALGOWLAH HAYES ST,NaN,9/28/14 11:56,Internet,-33.78815,151.26654
...,...,...,...,...,...,...,...
9818,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 7:32,Internet,-33.78815,151.26654
9819,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 8:56,Internet,-33.78815,151.26654
9820,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 8:57,Internet,-33.78815,151.26654
9821,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 8:58,Internet,-33.78815,151.26654
9822,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 8:59,Internet,-33.78815,151.26654
9823,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:00,Internet,-33.78815,151.26654
9824,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:00,Internet,-33.78815,151.26654
9825,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:15,Internet,-33.78815,151.26654
9826,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:16,Internet,-33.78815,151.26654
9828,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:17,Internet,-33.78815,151.26654
9829,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:18,Internet,-33.78815,151.26654
9830,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:20,Internet,-33.78815,151.26654
9831,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:21,Internet,-33.78815,151.26654
9832,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:24,Internet,-33.78815,151.26654
9833,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:25,Internet,-33.78815,151.26654
9834,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 9:29,Internet,-33.78815,151.26654
9836,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:01,Internet,-33.78815,151.26654
9837,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:08,Internet,-33.78815,151.26654
9838,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:09,Internet,-33.78815,151.26654
9839,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:10,Internet,-33.78815,151.26654
9840,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:11,Internet,-33.78815,151.26654
9841,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:30,Internet,-33.78815,151.26654
9842,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:30,Internet,-33.78815,151.26654
9844,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 11:39,Internet,-33.78815,151.26654
9857,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 16:16,Internet,-33.78815,151.26654
9858,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 16:17,Internet,-33.78815,151.26654
9859,505012056EF02,BALGOWLAH HAYES ST,bc0b01860486b0f0a240ce8419d3d7553fe404ab,3/25/15 16:20,SMS,-33.78815,151.26654
9860,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 16:36,Internet,-33.78815,151.26654
9861,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 16:36,Internet,-33.78815,151.26654
9862,505012056EF02,BALGOWLAH HAYES ST,NaN,3/25/15 16:36,Internet,-33.78815,151.26654

In [ ]:
# After analyzing the previous two towers by the time the cell phone was used, it seems like Balgowlah Hayes St is his place
# of work, as the usage occurs in general, between 7 and 17, while Chippendale registers usage during the night.

In [ ]:
# Arising questions: 
# Is there a method to separate the data in 'timedate' into two colums, one specifically for date and another one for time?
# How can I sort the date by month, for example, when there are three values in there?