<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [3]:
# Enter Student names here:
student_names = ["Alex", "Mary", "Jacob", "Victoria"]

---

### 1) What are the types of the following variables?

In [4]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [5]:
# A: integer
# B: float
# C: list
# D: dictionary
# E: tuple
# F: dictionary
# G: boolean
# H: boolean
# I: string

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [4]:
# A: A mutable object can be modified, such as lists. An immutable object, such as tuples, is set once created and cannot be further changed. The latter is particularly useful when in need of a conainer of protected constants.

---

### 3) Print the `student_names` list.

In [6]:
# A:
print(student_names)

['Alex', 'Mary', 'Jacob', 'Victoria']

---

### 4) Print the names of the first and last students on the list.

In [7]:
# A:
print(student_names[0])
print(student_names[-1])

Alex
Victoria

---

### 5) Print the first five names in the `student_names` list.

In [8]:
# A:
student_names.append("Anna")
student_names.append("Erika")
student_names.append("Anthony")

print(student_names[0:5])

['Alex', 'Mary', 'Jacob', 'Victoria', 'Anna']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [15]:
# A:

student_names.append("Luis")
student_names.append("Sophie")
student_names.append("Helen")

new_string = student_names[0] + " " + student_names[9]

print(new_string)

Alex Helen

---

### 7) Append an animal to the list of animals.

In [21]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [22]:
# A:

animals.append("dog")

print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog']

---

### 8) Print the length of the `animals` list.

In [23]:
# A:

print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [24]:
# A:

print(len(animals[4]) / len(animals[1]))

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [25]:
# A:

print(float(len(animals[4]) / len(animals[1])))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [27]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [29]:
# A:

joined_lists = animals + numbers
print(joined_lists)

print(animals + numbers)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]
['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'dog', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [30]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [32]:
# A:

names[2] = "ana"
print(names)

['doug', 'billy', 'ana', 'kian', 'sam']

---

### 13) Sort the following list.

In [59]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [60]:
# A:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [61]:
# A:

mix[3] > mix[2]

False

---

### 15) Find the index of `'a'` in the list.

In [62]:
# A:

mix.index("a")

5

---

### 16) Reverse the `mix` list.

In [63]:
# A:

mix.reverse()

In [64]:
print(mix)

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [65]:
# A:

variable = mix.pop()
print(variable)
print(mix)

['billy', 'sam']
[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}]

---

### 18) Count the number of times `0` appears in the following list.

In [67]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [68]:
# A:

binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [69]:
# A:

SF = {"sunset" :94122, "presidio" :94129, "soma" :94105, "marina" :94123}
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [70]:
# A:

soma = "soma"
zip_zoma = SF[soma]
print(zip_zoma)

94105

---

### 21) Get the keys out of the dictionary.

In [75]:
# A:

keys = list(SF.keys())
print(keys)

['sunset', 'presidio', 'soma', 'marina']

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [76]:
# A:

pairs = list(SF.items())
print(pairs)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [81]:
# A:

SF["castro"] = 94114
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'Castro': 94114, 'castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [82]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [84]:
# A:
SF.update(small)
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'Castro': 94114, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [87]:
# A:

sunset = SF.pop("sunset")
print(sunset)
print(SF)

94122
{'presidio': 94129, 'soma': 94105, 'marina': 94123, 'Castro': 94114, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [88]:
# A:

"dogpatch" in SF

True