<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [15]:
# Enter Student names here:
student_names = ['patrick', 'ana', 'matt', 'bob', 'kim', 'andy', 'charles', 'ross', 'matt', 'eddie']

---

### 1) What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [22]:
#A: 
a = int
b = float
c = list
d = dict
e = tuple
f = dict
g = bool
h = bool
i = string

NameError: name 'string' is not defined

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [4]:
# A: mutable objects are able to have their constituents changed like a list while immuatable objects like tuples cannot

---

### 3) Print the `student_names` list.

In [16]:
# A: 
print(student_names)

['patrick', 'ana', 'matt', 'bob', 'kim', 'andy', 'charles', 'ross', 'matt', 'eddie']

---

### 4) Print the names of the first and last students on the list.

In [17]:
# A:
print(student_names[0], student_names[-1] )

patrick eddie

---

### 5) Print the first five names in the `student_names` list.

In [18]:
# A:
print(student_names[:5])

['patrick', 'ana', 'matt', 'bob', 'kim']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [20]:
# A:
Name = ' '
Name.join(student_names[-2:])

'matt eddie'

---

### 7) Append an animal to the list of animals.

In [23]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [24]:
# A:
animals.append('goose')

---

### 8) Print the length of the `animals` list.

In [25]:
# A:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [26]:
# A:
len(animals[4]) / len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [29]:
# A:
float(len(animals[4]) / len(animals[1]))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [31]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [37]:
# A:
print(animals.append(numbers))
print(list(zip(animals, numbers)))
print(animals + numbers)

None
[('duck', 0.0), ('rat', 0.1), ('boar', 1.0), ('slug', 10.0), ('mammoth', 100.0), ('gazelle', 1000.0)]
['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'goose', [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0], [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0], [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0], [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0], [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0], [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0], 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [51]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [61]:
# A:
for i, name in enumerate(names):
    if name == 'kiefer':
        names[i] = 'patrick'
        print(names)

['doug', 'billy', 'patrick', 'kian', 'sam']

---

### 13) Sort the following list.

In [114]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [87]:
# A: Can't be sorted or need more criteria to do so

TypeError: object of type 'float' has no len()

# ---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [115]:
# A:
mix[2] > mix[3]

True

---

### 15) Find the index of `'a'` in the list.

In [116]:
# A:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [117]:
# A:
mix.reverse()

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [118]:
# A:
removed = mix.pop()

In [119]:
print(removed)

['billy', 'sam']

---

### 18) Count the number of times `0` appears in the following list.

In [121]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [124]:
# A:
len([i for i in binary if i == 0])

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [127]:
# A:
SF = {'sunset':94122,
'presidio':94129,
'soma':94105,
'marina':94123,
}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [128]:
# A:
SF['soma']

94105

---

### 21) Get the keys out of the dictionary.

In [129]:
# A:
SF.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [132]:
# A:
{(a,b) for a in SF}

{('marina', float), ('presidio', float), ('soma', float), ('sunset', float)}

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [133]:
# A:
SF['The Castro'] = 94114

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [136]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [137]:
# A:
SF.update(small)

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [138]:
# A:
sunset = SF.pop('sunset')

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [141]:
# A:
'dogpatch' in SF

True