<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">


# Telecomm EDA Challenge Lab

_Author: Alex Combs (NYC) _

---

Let's do some Exploratory Data Analysis (EDA)! As a data scientist, you often may find yourself given a data set you've never seen before, and asked to do a rapid analysis. This is today's goal.

# Prompt

You work for a telecommunications company. The company has been storing metadata about customer phone usage, as part of the regular course of business. Currently, this data is sitting in an unsecured database. The company doesn't want to pay to increase their database security, because they don't think there's really anything to be learned from the metadata.

They are under pressure from "right to privacy" organizations to beef up the database security. These organizations argue that you can learn a lot about a person from their cell phone metadata.

The telecom company wants to understand if this is true, and they want your help. They will give you one person's metadata for 2014 and want to see what you can learn from it.

Working in teams, create a report revealing everything you can about the person. Prepare a presentation, with slides, showcasing your findings.


# The Data

The [person's metadata](./datasets/metadata.csv) has the following fields:

| Field Name          | Description
| ---                 | ---
| **Cell Cgi**        | cell phone tower identifier
| **Cell Tower**      | cell phone tower location
| **Comm Identifier** |	de-identified recipient of communication
| **Comm Timedate String** | time of communication
| **Comm Type	Id**  | type of communication
| **Latitude**        | latitude of communication
| **Longitude**       | longitude of communication

# Hints

This is totally open-ended! If you're totally stumped -- and only if stumped -- should you look below for prompts. As a starting point, given that you have geo-locations, consider investigating ways to display this type of information (i.e. mapping functionality).

<font color='white'>
Well for starters, he's in Australia!

Ideas for things to look into:
- where does he work?
- where does he live?
- who does he contact most often?
- what hours does he work?
- did he move?
- did he go on holiday?  If so, where did he go?
- did he get a new phone?

Challenges:
- how does he get to work?
- where does his family live?
- if he went on holiday, can you find which flights he took?
- can you guess who some of his contacts are, based on the frequency, location, time and mode (phone/text) of communications?


If you're stuck on how to map the data, you can try "basemap" or "gmplot", or anything else you find online.
</font>

In [2]:
import pandas as pd

In [5]:
import os
print(os.getcwd())

/Users/WayneAtwell/Python/Class/DAT-course-materials-9-17-19/lessons/required/experiments-hypothesis-tests/practice/r-atwell

In [6]:
files = [f for f in os.listdir('.') if os.path.isfile(f)]
for f in files:
    print(f)

eda-with-billboard-data-lab.ipynb
experiments-hypothesis-tests.ipynb
telecomm-eda-group-lab.ipynb

In [7]:
data = pd.read_csv('metadata.csv', sep=',')

In [9]:
data.tail()

,Cell Cgi,Cell Tower Location,Comm Identifier,Comm Timedate String,Comm Type,Latitude,Longitude
10471,50501015388B9,REDFERN TE,NaN,4/1/15 22:40,Internet,-33.892933,151.202296
10472,50501015388B9,REDFERN TE,NaN,4/1/15 22:41,Internet,-33.892933,151.202296
10473,50501015388B9,REDFERN TE,NaN,4/1/15 22:44,Internet,-33.892933,151.202296
10474,50501015388B9,REDFERN TE,NaN,4/1/15 22:45,Internet,-33.892933,151.202296
10475,50501015388B9,REDFERN TE,NaN,4/1/15 23:49,Internet,-33.892933,151.202296

In [12]:
data['Cell Tower Location'].value_counts()

BALGOWLAH HAYES ST                          4301
CHIPPENDALE                                 1084
SUNDERLAND ST                                723
REDFERN TE                                   712
HAYMARKET #                                  563
BRICKWORKS                                   501
HARBORD 22 WAINE ST                          465
FAIRLIGHT 137 SYDNEY RD                      454
MANLY #                                      231
NEW TOWN                                     197
CHINATOWN                                    161
BEECHWORTH                                   112
BALGOWLAH VILLAGE SHOPPING CENTRE IBC        106
MANLY SOUTH STEYNE                            92
BROADWAY OTC                                  85
MASCOT INTERNATIONAL AIRPORT TERMINAL T1      65
71 MACQUARIE ST                               49
SURRY HILLS 418A ELIZABETH ST                 45
MANLY NTH STEYNE                              40
MASCOT M5 MOTORWAY EMERGENCY STAIRS           33
BALGOWLAH TE                                  30
NEUTRAL BAY MILITARYRD                        29
BENALLA EAST                                  29
SYDNEY DOMESTIC TERMINAL T2 - VIRGIN          22
SYDNEY 505 GEORGE ST                          22
SURRY HILLS                                   22
SPIT BRIDGE                                   20
THOONA                                        20
SEAFORTH                                      19
HOBART AIRPORT                                17
                                            ...
LENEVA; WODONGA TIP OFF BEACHWORTH RD          7
NORTH SYDNEY 54 MCLAREN                        6
DARLINGHURST                                   6
CREMORNE JUNCTION; GERARD ST                   6
ZETLAND 757 ELIZABETH ST                       5
AIRPORT LINK                                   5
SYDNEY 131 YORK ST                             5
POLICE HEADQUARTERS                            4
LUTANA                                         4
MAQUARIE ST                                    4
COWAN 1051 PACIFIC HWY                         4
SYDNEY 450 GEORGE ST                           4
BEROWRA WINDY BANKS INTERCHANGE                4
SYDNEY 2 CASTLEREAGH STREET                    3
MOUNT RUMNEY                                   3
SYDNEY INTERNATIONAL AIRPORT RAILWAY STN       2
WAHROONGA #                                    2
COWAN LOT 1                                    2
ROSEBERY DUNNING AVE                           2
DAVID JONES                                    1
CARLTON COLLEGE SQ                             1
EDGECLIFF EXCHANGE (PO)                        1
NEWTOWN TE                                     1
BROOKLYN PACIFIC HWY                           1
ASCOT VALE SOUTH                               1
GRAND CHANCELLOR 1800                          1
MELB AIRPORT TERM                              1
DALLEY2 #                                      1
REDFERN; 495 CLEVELAND ST                      1
MASCOT 201 COWARD ST                           1
Name: Cell Tower Location, Length: 71, dtype: int64

In [ ]:
# They spend most of their time near the BALGOWLAH HAYES ST tower